@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
  scroll-behavior: smooth;
  margin: 0;
  font-family: $space-grotesk;
  color: $main-font-color;
}

body{
  background: $main-background-color;
  font-size: 18px;
}

.container{
  max-width: 1200px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

h1{
  font-family: $rajdhani;
  font-size: 36px;
}

.sous-titre{
  font-family: $rajdhani;
  font-size: 22px;
}

h2{
  font-family: $space-grotesk;
  font-size: 12px;
}

p{
  font-family: $space-grotesk;
  font-size: 18px;
}