header{
  background-image: url(../assets/Illustrations/Bathome1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header > div{
  border: solid 2px $body-line;
  // --------------------------
  height: 132px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

header #logo {
  margin-left: 5rem;
  width: 121px;
  height: 41px;
  background-image: url('../assets/Logos/logohome.png');
  background-size: cover;
  transition: filter 0.3s; 
}

header nav h1 {
  text-transform: uppercase;
  margin-right: 5rem;
}

header #hero {
  border-left: solid 2px $body-line;
  border-right: solid 2px $body-line;
  // --------------------------
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header #hero > div {
  max-width: 40vw;
  padding-bottom: 35vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header #hero > div > p {
  text-align: center;
  font-size: 18px;
  margin: 1.5rem;
}

header #hero > div > span{
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 1.5rem;
}

header #hero .buttons{
  width: 85%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

header #hero .buttons > :nth-child(1) {
  text-decoration: none;
  background-image: $button-gradient-2-40;
  width: 10rem;
  padding: 1rem 2rem;
  font-family: $rajdhani;
}

header #hero .buttons > :nth-child(2) {
  text-decoration: none;
  background-image: $button-gradient-2-40;
  width: 10rem;
  padding: 1rem 2rem;
  font-family: $rajdhani;
}

header #hero .buttons > :nth-child(1):hover, header #hero .buttons > :nth-child(2):hover {
  background-image: $button-gradient-2-100;
}

header #hero .next{
  width: 74px;
  height: 43px;
  background-image: url(../assets/Logos/flèche_down_header.png);
  position: absolute;
  top: 90vh;
}

//------------------------------------------------------------------------------------------

main #cine{
  border-left: solid 2px $body-line;
  border-right: solid 2px $body-line;

  // --------------------------
  padding: 5rem 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main #cine p {
  text-align: justify;
}

main #cine .galerie{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}