// Couleurs
$main-background-color: #0D0E09;
$secondary-background-color: #000000;

// Polices
$main-font-color: #ffffff;
$secondary-font-color: #c4c4c4;
$third-font-color: #F8F184;

// Buttons degradées 
$button-gradient-1: linear-gradient(180deg, #EDDEBF 40%, #19587d 40%);
$button-gradient-2: linear-gradient(180deg, #EDDEBF 40%, #890008 60%);

// Typographies
$rajdhani: 'Rajdhani', sans-serif;
$space-grotesk: 'Space Grotesk', sans-serif;

// Autres
$body-line: #BCBBBD;
$icon-hover: #ffff00;
